.root{
    --primary-color: #090B0B;
    --secondary-color: #49ACFD;
    --accent1-color: #FDCA40;
    --accent2-color: #FFFFFF;

    --heading-font: roboto, serif;
    --paragraph-font: "open sans" serif;


}


h1{
    color: black;
}

p{
    color: var(--secondary-color);
}

a{
    text-decoration: none;
    color: black;
}

.hero{
    max-width: 800px;
    margin: 30px;
    position: relative;
}


.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    bottom:150px;
    left: 200px;
    width: 500px;
    margin: 20px;
    background-color: #a5929e
    border 5px solid black;
}

.hero article{
    position: absolute;
    bottom: 50px;
    left: 400px;
    width: 350px;
    background-color: #cfddde;
    padding: 5px;
    border: 5px solid #58676c;
}

.hero article img{
    float: right;
    width: 115px;
}


.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
    background-color: steelblue;
    padding: 10px;
}

.grid-item {
    background-color: lightgray;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-header {
    display: flex; /* display = block, flex, grid */
    background-color: steelblue;
    justify-content: space-evenly;
    width: 500px;
    height: 200px;
}

.grid {
    display: grid;
    align-items: center;
}

header, .grid, footer {
    margin: 0 auto;
}


nav {
    background-color: steelblue;
    padding: 10px;
    display: block;
    align-items:baseline;
    justify-content: center;
}


/* nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */


footer {
    margin-top: 1rem;
    border-top: 1px solid #000;
    text-align: center;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.footer {
    border-top: 50px solid steelblue;
    padding-top: 50px; /* Add padding for spacing */
    display: flex;
    justify-content: flex-end;
}

