div {
    background-color: blue;
    color: white; FONT COLOR
    border: red; 
    margin: 10px 100px 200px 300px; 1st # adjusts top/bottom, 2nd adjusts left/right, 3rd adjusts base, 4th adjusts left side.
    padding: 
}